<div class="container">
  <router-outlet></router-outlet>
 <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

<!-- Footer Links -->
<div class="container text-center text-md-left">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

      <!-- Content -->
      <h5 class="font-weight-bold text-uppercase mb-4">Desarrolladores</h5>
      <p>Isaias Emmanuel Ramirez Gonzalez</p>
      <p>Orlando Montañez Carlín</p>
      <p>Jessica Guerrero Carrera</p>
      <p>Juan Carlos Pedroza Carrillo</p>
      
    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

      <ul class="list-unstyled">
        <li>
          <p>
            Desarrolladores de software <br>
            Estudiantes de la carrera: <br> 
            Ingeniería en Sistemas Computacionales <br>
            6to "A"
          </p>
        </li>
      </ul>
    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

      <!-- Contact details -->
      <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

      <ul class="list-unstyled">
        <li>
          <p>
            <i class="fas fa-home mr-3"></i> Av. Universidad # 940, Ciudad Universitaria, C. P. 20131, Aguascalientes, Ags. MÉXICO.</p>
        </li>
        <li>
          <p>
            <i class="fas fa-envelope mr-3"></i> cvargas@correo.uaa.mx</p>
        </li>
        <li>
          <p>
            <i class="fas fa-phone mr-3"></i>  +52 (449) 910 74 00 </p>
        </li>
       
      </ul>

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none">

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

      <!-- Social buttons -->
      <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

      <!-- Facebook -->
      <a type="button" class="btn-floating btn-fb">
        <i class="fab fa-facebook"></i>
      </a>
      <!-- Twitter -->
      <a type="button" class="btn-floating btn-tw">
        <i class="fab fa-twitter"></i>
      </a>
      <!-- Google +-->
      <a type="button" class="btn-floating btn-gplus">
        <i class="fab fa-google-plus-g"></i>
      </a>
      <!-- Dribbble -->
      <a type="button" class="btn-floating btn-dribbble">
        <i class="fab fa-dribbble"></i>
      </a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<img style="text-align: center;" src="../assets/Logo_UAA.png" alt="">
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://www.uaa.mx/"> Indiware.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
</div>